body {
  background-color: gray;
}

body div {
display: flex;
flex-direction: column;
}

button {
  width: 50vw;
  height: 20vh;
  font-size: 20px;
  border-radius: 20px;
  background-color: lightgray;
}

button:hover {
  background-color: lightblue;
}

button:nth-child(2):hover {
  background-color: lightcoral;
}